.list {
	.columns(auto, 3);
	margin-top:@margin-top;
}
.divlorem1 {
	color:#ffa352;
	margin-top: 25px 0;
	padding-left: 18px;
	border-left: 1px solid #ffa352;
}
.divlorem2 {
	margin:30px 0;
}
.plorem1 {
	margin:16px 0;
}
.plorem2 {
    text-align: right;
    margin:16px 0;
}
.aLorem {
	text-decoration: underline;
	color:#ffa352;
}