//Fonts
@font-size-base: 17px;
@font-base: Tahoma, "Times New Roman", "Bitstream Charter", Times, serif;

//Colors
@color-base: #000;
@bg-base: #fff;
@color-rgba:rgba(0,0,0,.1);
@color-button:linear-gradient(#abc834,#90c213); 
@color-box-shadow: 0 0 10px rgba(255,255,255,.5);
@color-border:#a3a3a3;
@color-osnova:#ffa300;
//Other
@base-font-weight:400;
@base-font-size:16px;
@base-text_color:#7d7d7d;
@base-line-height:1;
@text-transform: uppercase;
@margin_center: 0 auto;
@margin-top: 50px;
//Box-chadov
@box-chadov-osnov: inset 0 25px 10px -18px rgba(0,0,0,0.1);
